@charset "utf-8";
/* CSS Document */

#wrapper {
	height: 100%;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-variant: small-caps;
	text-transform: uppercase;
	text-decoration: none;
}
body {
	background-color: #999999;
}
#header {
	height: 150px;
	width: 800px;
}
#date {
	text-align: right;
	height: 100%;
	width: 757px;
	padding-right: 3px;
	clear: both;
}
#footer {
	background-color: #999999;
	height: 100%;
	width: 800px;
	text-align: center;
}
#content {
	height: 100%;
	width: 800px;
	text-align: center;
}
